.form input[type="search"] {
  border: solid 3px #fff;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  color: rgb(157, 157, 44);
  height: 2rem;
  outline: solid #fc00;
  transition: all 1s ease-out;
  width: 20rem;
}

.form input[type="search"]:focus {
  border: solid 3px #555500;
}

.form input[type="search"]::placeholder {
  color: rgb(157, 157, 44);
}
